*{
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}

.frame{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(97, 97, 110);
    height: 380px;
    width: 450px;
    padding: 8px;
    flex-wrap: wrap;
    /*align items*/
    border-radius: 10px;

}

.result{
    border: 2px dashed gray;
    height: 14%;
    width: 98%;
    padding: 1%;
    border-radius: 10px;
    
}

.numpad{
    height: 74%;
    width: 52%;
    border: 1px dashed orange;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.functions{
    height: 74%;
    width: 35%;
    border: 1px dashed violet;
    padding: 3%;
    border-radius: 10px;
}

button, input{
    font-size: x-large;
    height: auto;
    width: 29%;
    border: 2px solid coral;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.fbutton{
    font-size: xx-large;
    height: fit-content;

}

.detele{
    display: flex;
    flex-grow: 1 !important ; /* idk why it doesn't works for me. Because flex-grow doesn't work with fixed width but works with percentages. */
}








































































