h1 {color: gray; 
    font-family: Arial, Helvetica, sans-serif ;}
p {color: #3e7acd;
   font-family: monospace;}
h4{ font: size 16px; 
    font-family: Lobstar, "sans-serif";
    background-color: chocolate;}
img{width: 90px;
    border-width: 9px;
    border-radius: 50%;
    border-color: orchid;
    border-style: solid;}
h6{ border-color: orangered;
    border-width: 2px;
    border-style: solid;
    }
li {background-color: silver;
    }
#one{
    color: aqua;
    margin: 10%;
    border-color: violet;
    border-width: 2px;
    border-style: solid;
}
     
.one {color: green;}
.two {border-radius: 9px;}
#padding-changer{ padding: 5%;
                  padding-top: 2%;
                padding-left: 400px;
                padding-right: 4%;}
#clockwise-padding{
    border-color: pink;
    border-style: solid;
    padding: 10px 7.5px 5.0px 2.5px;
}
[type='radio'] {
    margin: 10px 2px;}

body{ background-color: rgb(89, 79, 131);
      font-family: monospace; }

details{font-size: 150%;}
#inside-details{
    font-size: 90%;
}
.three{
    font-size: xx-large;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 10% 30% 2fr;
    grid-template-rows: auto;
    grid-gap:10px 5px ;


    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: self-end;
     
}
#classes{
 font-family: Arial, Helvetica, sans-serif;
 border-width: 2px;
 border-style: dotted;
 border-color: black;

}